<!doctype html>
<html lang="en">
    <head>
          <meta charset="utf-8">
          <link rel="shortcut icon" href="../images/icon.png">
          <title>Wild Atlantic Way Waterford</title>

          <!-- metadata -->
          <meta name="description" content="Disclaimer page">
          <meta name="author" content="SitePoint">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="geo.region" content="CZ-PR" />
          <meta name="geo.placename" content="Prague" />
          <meta name="geo.position" content="50.187945;14.365319" />
          <meta name="ICBM" content="50.187945, 14.365319" />

          <!-- css files -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
          <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700' rel='stylesheet' type='text/css'>
          <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
          <link rel="stylesheet" href="../styles.css">

          <!-- js cdn files -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h2 class="disclaimer"> REFERENCES </h2>
                <p> Waterford City - Ireland.com. 2020. Waterford City – County Waterford, Ireland | Ireland.com. [ONLINE] Available at: http://www.ireland.com/en-us/destinations/republic-of-ireland/waterford/waterford-city/. [Accessed 02 December 2020]. </p>
                <p> Rock of Cashel - 8 Top-Rated Tourist Attractions in Waterford | PlanetWare. 2020. 8 Top-Rated Tourist Attractions in Waterford | PlanetWare. [ONLINE] Available at: http://www.planetware.com/tourist-attractions-/waterford-irl-wa-wat.htm. [Accessed 02 December 2020].
                <p> Waterford Greenway - Independent.ie. 2020. Top 10 tips for cycling the Waterford Greenway - Independent.ie. [ONLINE] Available at: https://www.independent.ie/life/travel/ireland/waterford-greenway-10-tips-for-irelands-longest-offroad-cycling-route-36005305.html. [Accessed 02 December 2020].</p>
                <p> Rotunda - Waterford - Wikipedia. 2020. Waterford - Wikipedia. [ONLINE] Available at: https://en.wikipedia.org/wiki/Waterford. [Accessed 02 December 2020].</p>
                <p> Title image - Wild Atlantic Way - Ireland's spectacular coastal route. 2017. Wild Atlantic Way - Ireland's spectacular coastal route. [ONLINE] Available at: http://www.thewildatlanticway.com/. [Accessed 02 December 2020].</p>
                <p> Waterford Bridge - Waterford Pictures | Photo Gallery of Waterford - High-Quality Collection. 2017. Waterford Pictures | Photo Gallery of Waterford - High-Quality Collection. [ONLINE] Available at: http://www.orangesmile.com/travelguide/waterford/photo-gallery.htm. [Accessed 02 December 2020].</p>
                <p> Waterford Map - Márla Communications. 2020. Illustrated Maps for your City, Town, Trail, Walkway or Amenity. [ONLINE] Available at: https://marla.ie/illustrated-maps/. [Accessed 02 December 2020]. </p>
                <p> Waterford Crystal - Activeme.ie. 2020. House of Waterford Crystal, Waterford City | Activeme.ie. [ONLINE] Available at: https://www.activeme.ie/guides/attractions-2/house-of-waterford-crystal-waterford-city/. [Accessed 02 December 2020]. </p>
                <p> History text -  Administrator. 2020. Waterford Greenway Bike Hire & Visitor Centre. [ONLINE] Available at: https://www.waterfordgreenwaybikehire.com/. [Accessed 03 December 2017]. </p>
                <p> Diving - Dungarvan Bay Charter Boats Based in Dungarvan Harbour Co. Waterford. 2017. Home - Dungarvan Bay Charter Boats Based in Dungarvan Harbour Co. Waterford. [ONLINE] Available at: http://www.dungarvanbaycharterboats.com/. [Accessed 04 December 2020].</p>
        </div>

         <a href="index.html#firstSection"><button class="btn btn-default btn-lg disclaimerbutton"> Procced to Website </button></a>
    </body>

    <footer>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="copyright">
                            © 2020, School project for educational Purposes
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="design">
                            <a href="sitemap.html">Sitemap </a> |  <a target="_blank" href="pef.czu.cz">Ondrej Svojse & Harold Miranda</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
